<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.week10_29177">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Week10_29177">
        <service
            android:name=".services.CustomBoundService"
            android:enabled="true"
            android:exported="true"/>
        <activity android:name=".services.tutor5Activity" />
        <service
            android:name=".services.CustomService"
            android:enabled="true"
            android:exported="true" />
        <activity android:name=".services.tutor4Activity" />
        <service android:name=".services.SimpleIntentService" />
        <activity android:name=".services.tutor3Activity" />
        <activity android:name=".asyntaskLoader.tutor2Activity" />
        <activity android:name=".asyntask.tutor1Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>